{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>
    <div class ="formulaire">

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Valider</button>
    {{ form_end(registrationForm) }}
    </div>
        <style>
        .formulaire { display: flex; justify-content:space-around;}
        h1{ display: flex; justify-content:center;}
        </style>
{% endblock %}
